<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Address Book #<span th:text="${addressBook.id}"></span></h1>

    <h2>Buddies:</h2>
    <ul>
        <li th:each="buddy : ${addressBook.buddies}">
            <span th:text="${buddy.name}"></span> -
            <span th:text="${buddy.address}"></span> -
            <span th:text="${buddy.phoneNumber}"></span>
        </li>
    </ul>
</body>
</html>